@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
body{
   font-family: 'Kaushan Script', cursive;
   font-size: 3em;
   color: black;
}

h1{
    font-family: 'kaushan script', Times, serif;

}