body{
font-family:Arial, Helvetica, sans-serif;
/* Medidas Absolutas
cm, mm, in, px, pt, pc

Medidas Relativas
em, ex, rem, vw, vh

16px geralmente = 1em
*/ 
font-size: 1em ;
font-weight: bolder;
/* lighter,normal, bold, bolder */
font-style: italic;
text-decoration: underline;
/* shorthant font
font-family: 'Work Sans', sans-serif;
font-size: 3em;
font-weight: bolder;
font-style: italic;
*/
}

h2 {  font-family: 'Times New Roman', Times, serif;
}

h1{
    font: italic bolder 3em 'Work Sans', sans-serif;
}

